// Import page-specific CSS files here.
@import "home";
@import "show";

.container{
  padding-top: 20px;
  .h1{
    font-weight: bold;
  }
  .h2 {
    outline-color: black;
  }
  .bakery {
  padding-top: 20px;
  }
}
