.show-container {
    padding: 15px;
    margin: 30px;
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
    font-weight: lighter;
  }
  a {
    color: black;
    font-weight: lighter;
     &:hover{
      color: black;
      text-decoration: none;
    }
  }
}
