<div class="container">
  <h2><%= @bakery.name %></h2>
  <h6><%= @bakery.description %></h6>
  <br>
  <p><i class="fas fa-map-marker-alt"></i> <%= @bakery.address %></p>
  <p><i class="fas fa-biking"></i> <%= @bakery.delivery_cost %>€</p>
</div>
