<div class="home-background">
  <div class="content">
    <h3>Celbretti connects you to your Kiez sweets!</h3>
    <h5>Celbretti delivers baked goods from your local cafes and bakeries directly to your home.</h5>
    <h5>At the moment we offer delivery in Berlin and service the neighborhoods of Mitte, Prenzlauer Berg and Wedding. We’re growing and will soon be coming to you!
    <p><strong>Are you a Berlin bakery or cafe looking for a delivery solution? Reach out to us at <a href="">hello@celbretti.de </a>- we’d love to hear from you!</strong></p>
  </div>
</div>


<!-- <p><%#= link_to "new", new_bakery_path %></p>
<p><%#= link_to "index", bakeries_path %></p>
 -->
