.footer {
    align-content: space-around;
    background: #f7e2d4;
    display: flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
    height: 100px;
    padding: 45px;
    color: #0E0000;
    font-size: 14px;
    flex-direction: column;
    clear: both;
}

.footer .container-fixed {
  padding: 0;
}
.footer .fa-heart {
  color: $light-gray;
}
