.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: $gray;
  font-size: 14px;
}

.footer .fa-heart {
  color: $brand-color;
}
