.form-inputs .d-flex {
  border-radius: 6%;
  padding: 15px 0px;
  margin: 0px -5px;
}

.form-actions .btn {
  background-color: transparent;
  border: 1.3px solid #ced4da;
  border-radius: 6%;
  color: black;
  padding: 8px 15px;
}

