.navbar-lewagon {
  justify-content: space-between;
  background: $brand-color;
  height:100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  max-height: 80px;
  object-fit:cover;
}

.links {
  display: flex;
  align-items: center;
}
.links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.links a:hover {
  color: white;
  opacity: 1;
}
